/* ===== NAVBAR ===== */
.navbar {
    background: #1a8a46;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.navbar .logo {
    font-family: "Bangers", cursive;
    font-size: 36px;
    color: #0d4a20;
}

.navbar .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #0b3d1c;
    font-weight: 600;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
}

.navbar .menu a:hover {
    background: #d9ffe0;
    color: #9be7a8;;
}

/* ===== FUNDO GERAL ===== */

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #e5ffe6 0%, #d1ffd8 100%);
}

/* ===== CONTEÚDO ===== */

.conteudo {
    max-width: 950px;
    margin: 40px auto;
    padding: 0 20px;
}

/* ===== CABEÇALHO DO PERSONAGEM ===== */

.cabecalho-personagem {
    text-align: center;
    margin-bottom: 40px;
    padding: 25px;
    background: #d9ffe0;
    border-radius: 20px;
    border: 3px solid #9be7a8;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.titulo {
    font-size: 46px;
    color: #1a8a46;
    margin: 0;
    font-family: "Bangers";
}

.frase-intro {
    font-size: 18px;
    color: #0d4a20;
    margin-top: 10px;
    opacity: 0.9;
}

/* ===== SEÇÃO LATERAL ===== */

.linha-tematica {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 25px;
    margin-bottom: 40px;
}

.box-texto {
    background: #f2fff4;
    padding: 20px;
    border-radius: 18px;
    border-left: 10px solid #48b86c;
}

.box-texto h2 {
    margin-top: 0;
    color: #1b7337;
}

.box-destaque {
    background: #c8ffd5;
    padding: 20px;
    border-radius: 18px;
    border: 3px dashed #57c97c;
}

.box-destaque ul {
    padding-left: 20px;
}

/* ===== FRASES ===== */

.bloco-frases {
    background: #ddffe4;
    padding: 25px;
    border-radius: 18px;
    margin-bottom: 40px;
}

.linha-frases {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.frase {
    background: #baffc3;
    padding: 12px;
    border-radius: 10px;
    font-style: italic;
    border-left: 12px solid #31a755;
}

/* ===== CURIOSIDADES ===== */

.bloco-curiosidades {
    background: #f0fff1;
    padding: 25px;
    border-radius: 18px;
    border: 2px solid #b6f3c2;
}

/* ===== bnt-galeria ===== */

.btn-galeria {
    display: inline-block;
    margin-top: 30px;
    background: #1a8a46;
    color: #ffffff;
    font-weight: 600;
    font-family: georgia;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
}

.btn-galeria:hover {
    background: #48b86c;
    color: #ffffff;
}


/* ===== RODAPÉ ===== */

.rodape {
    background: #1a8a46;
    text-align: center;
    padding: 12px;
    margin-top: 50px;
    font-weight: 600;
    font-family: "nunito";
    width: 100%;
}

