.titulo-monica {
    color: rgb(255, 0, 0);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    font-size: 48px;
}
.texto1-monica {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    justify-content: end;
    font-size: 20px;
    margin: 20px;
    border-radius: 30px;
    white-space: 100%;
    width: 100%;
    margin: -30px;
}

.imagem1-monica {
    display: flex;
    width: 50%;
    justify-content: start;
    width: 30rem;
    padding-bottom: 50px;
}
