body.pg-cascao {
    margin: 0;
    font-family: "Fredoka", sans-serif;
    background: linear-gradient(120deg, #fff7d4 0%, #ffffe6 100%);
    color: #4c3500;
}

/* NAVBAR */
.navbar {
    background: #ffcc3b;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.navbar .logo {
    font-family: "Bangers", cursive;
    font-size: 36px;
    color: #b84d00;
}

.navbar .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #744f00;
    font-weight: 600;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
}

.navbar .menu a:hover {
    background: #fff7da;
    color: #c75a00;
}

/* CONTEÚDO */
.conteudo {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 20px;
}

/* CARTÕES INCLINADOS */
.cartao {
    background: #fffdf3;
    padding: 26px;
    border-radius: 18px;
    margin-bottom: 28px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.10);
}

.cartao-1 {
    transform: rotate(-2.3deg);
    background: #ffeeb3;
}

.cartao-1 h1 {
    font-family: "Bangers", cursive;
    font-size: 48px;
    margin-bottom: 10px;
    color: #b84d00;
}

.cartao-2 {
    transform: rotate(1.8deg);
    background: #fff4cf;
}

.lista li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* CURIOSIDADES */
.curiosidades h2 {
    font-size: 26px;
    color: #b84d00;
    margin-bottom: 14px;
}

.curio-grid {
    display: grid;
    gap: 18px;
}

.curio-bloco {
    padding: 18px;
    border-radius: 16px;
    font-size: 18px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.btn-galeria {
    display: inline-block;
    margin-top: 30px;
    background: #ffcc3b;
    color: #744f00;
    font-weight: 600;
    font-family: georgia;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.btn-galeria:hover {
    background: #ffd966;
    color: #b84d00;
}


/* CORES DIFERENTES PARA OS BLOCOS */
.bloco-amarelo { background: #ffe79d; }
.bloco-laranja { background: #ffd28a; }
.bloco-marrom  { background: #eac68e; }
.bloco-bege    { background: #fff5dd; }

/* RODAPÉ */
.rodape {
    background: #ffcc3b;
    text-align: center;
    font-family: "Fredoka";
    padding: 12px;
    margin-top: 50px;
    font-weight: 600;
}
