/* NAVBAR */
.navbar {
    background: #ffca50;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.navbar .logo {
    font-family: "Bangers", cursive;
    font-size: 36px;
    color: #b84d00;
}

.navbar .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #b88600;
    font-weight: 600;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
}

.navbar .menu a:hover {
    background: #fff7da;
    color: #ffca50;;
}

/* CONTEÚDO */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff7db;
}

.conteudo {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 20px;
}

.titulo {
    font-size: 42px;
    color: #e6b800;
    text-align: center;
    margin-bottom: 5px;
    font-family: "Bangers";
}

.subtitulo {
    text-align: center;
    color: #7a5c00;
    margin-bottom: 40px;
    font-size: 18px;
}

/* CAIXAS DE TEXTO */
.caixa-texto {
    background: #fff3c4;
    padding: 25px;
    border-radius: 15px;
    border-left: 10px solid #ffca50;
    margin-bottom: 40px;
}

.caixa-texto h2 {
    color: #b88600;
    margin-bottom: 15px;
}

.caixa-texto p {
    color: #4a3a00;
    line-height: 1.6;
}

/* LISTA DE CURIOSIDADES */
.lista-curiosidades {
    background: #ffe9a8;
    padding: 25px;
    border-radius: 15px;
    border: 2px dashed #ffcc4d;
}

.lista-curiosidades h2 {
    color: #b88600;
}

.lista-curiosidades ul {
    list-style: none;
    padding: 0;
}

.lista-curiosidades li {
    padding: 8px 0;
    font-size: 17px;
    color: #5d4500;
}

/* bnt-galeria */
.btn-galeria {
    display: inline-block;
    margin-top: 30px;
    background: #b84d00;
    color: #ffffff;
    font-weight: 600;
    font-family: georgia;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.btn-galeria:hover {
    background: #d66f1a;
    color: #ffffff;
}


/* RODAPÉ */
.rodape {
    background: #ffca50;
    text-align: center;
    padding: 12px;
    margin-top: 50px;
    font-weight: 600;
    font-family: "nunito";
    width: 100%;
}
