:root {
  --cabecalho-bg: #ff7866;
  --color-primary: #d9480f;
  --color-accent: #b1221e;
  --card-bg: #fffbe6;
  --page-bg-start: #f7f7d1;
  --page-bg-end: #ffe7b3;
}

/* Página */
.pg-monica {
  background: #ffe7b3;
  font-family: 'Nunito', system-ui;
  color: #222;
  margin: 0;
}

/* NAVBAR */
.navbar {
    background: #b1221e;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
}

.navbar .logo {
    font-family: "Bangers", cursive;
    font-size: 36px;
    color: #ff7866;
}

.navbar .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: #ff7866;
    font-weight: 600;
    font-size: 18px;
    padding: 6px 10px;
    border-radius: 6px;
}

.navbar .menu a:hover {
    background: #ffbcbc;
    color: #c75a00;
}
/* Container */
.container {
  max-width: 1000px;
  margin: 28px auto;
  padding: 0 18px;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: 1fr 340px;
  gap: 24px;
  align-items: center;
}

.titulo-monica {
  color: var(--color-primary);
  font-family: 'Bangers';
  font-size: 56px;
  margin: 0 0 8px 0;
}

.subtitulo {
  font-size: 18px;
  color: #555;
}

/* Imagem */
.imagem1-monica {
  max-width: 320px;
  width: 100%;
}

/* Seção sobre */
.sobre {
  background: var(--card-bg);
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.04);
  margin: 24px 0;
}

.fatos {
  margin-top: 12px;
  padding-left: 18px;
}

/* Galeria */
.galeria .grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
}

.galeria img {
  border-radius: 6px;
  width: 100%;
}

/* Curiosidades */
.curiosidades {
  background: var(--card-bg);
  padding: 18px;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.04);
  margin-top: 18px;
}

/* bnt-galeria */

.btn-galeria {
  display: inline-block;
  margin-top: 30px;
  color: #ff7866; 
  background: #b1221e;
  font-weight: 600;
  font-family: georgia;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
}

.btn-galeria:hover {
  background: #d9480f;
  color: #ff7866;
}

/* Rodapé */
.rodape {
    background: #b1221e;
    text-align: center;
    padding: 12px;
    margin-top: 50px;
    font-weight: 600;
    width: 100%;
}







 